<div class="d-flex justify-content-center align-items-center">
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" Class="mt-4" />
    @* <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" /> *@
</div>


