@page "/categories/create"

<MudCard>
    <div class="p-3">
        <MudItem>
            <MudText Typo="Typo.h5">Crear Categoría</MudText>
        </MudItem>
        <FormWithName @ref="categoryForm" Label="Categoría: " Model="category" OnValidSubmit="CreateAsync" ReturnAction="Return" />
    </div>
</MudCard>