@page "/categories/edit/{Id:int}"

@if(category is null)
{
    <Loading/>
}
else
{
    <MudCard>
        <div class="p-3">
            <MudItem>
                <MudText Typo="Typo.h5">Editar Banco</MudText>
            </MudItem>
            <FormWithName @ref="categoryForm" Label="Categoría: " Model="category" OnValidSubmit="EditAsync" ReturnAction="Return" />
        </div>
    </MudCard>
}