@page "/supplier/create"

<MudCard>
    <div class="p-3">
        <MudItem>
            <MudText Typo="Typo.h5">Crear Proveedor</MudText>
        </MudItem>
        <SupplierForm @ref="supplierForm" Supplier="supplier" OnValidSubmit="CreateAsync" ReturnAction="Return" />
    </div>
</MudCard>