<MudCard>
    <div class="p-2">
        <h3>Inventory Create</h3>
        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Info" Href="/inventories" Class="p-2">
            Regresar
        </MudButton>
    </div>
</MudCard>