@page "/banks/create"

<MudCard>
    <div class="p-3">
        <MudItem>
            <MudText Typo="Typo.h5">Crear Banco</MudText>
        </MudItem>
        <FormWithName @ref="bankForm" Label="Banco: " Model="bank" OnValidSubmit="CreateAsync" ReturnAction="Return" />
    </div>
</MudCard>